<h1>L'inscription est presque terminée</h1><br />
<p align="center">Votre inscription est presque terminée. Il vous reste à confirmer votre adresse email.<br />
Pour cela, nous vous invitons à consulter votre boîte mail et de suivre les instructions qui vous seront envoyées d'ici quelques secondes.<br />
<br /><b>Attention, les membres ayant une adresse en @hotmail.fr, @hotmail.com ou @msn.com doivent vérifier leur courrier indésirable.</b></p>